@tailwind base;
@tailwind components;
@tailwind utilities;

/* gilroy font */
@font-face {
  font-family: gilroyBold;
  src: url(./assets/fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: gilroyHeavy;
  src: url(./assets/fonts/Gilroy/Gilroy-Heavy.ttf);
}
@font-face {
  font-family: gilroyLight;
  src: url(./assets/fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: gilroyMedium;
  src: url(./assets/fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: gilroyRegular;
  src: url(./assets/fonts/Gilroy/Gilroy-Regular.ttf);
}

/* Intro font */
@font-face {
  font-family: IntroRegular;
  src: url(./assets/fonts/Intro/Inter-Regular.ttf);
}
@font-face {
  font-family: IntroSemiBold;
  src: url(./assets/fonts/Intro/Inter-SemiBold.ttf);
}

#hero {
  height: 100dvh;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0 88%, white),
    url('./assets/images/bg3.jpg') center / cover no-repeat;
}

#navbar {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

::selection {
  background: #66ff008a;
  color: white;
}

/* clears the ‘X’ from Chrome */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* nav list product style hover */
.navList {
  transition: all 0.3s ease-in-out;
}
.navList::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 9999px;
  background: #00ea2390;
  z-index: -10;
}
.navList:hover {
  color: white;
  &:hover::after {
    height: 100%;
  }
}
